body,html {
    margin: 0;
    padding: 0;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  height: 100vh;
  margin: 0;
}
svg{
  background: white;
}
text{
  pointer-events: none;
}
.currentSectionText{
  background: orange;
}
.currentSectionText text{
  font-size: 32px;
}
.test{
  transform-origin: center;
}
