<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Charts</title>
  <script src="https://d3js.org/d3.v5.js"></script>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <select name="sortBy" id="sortBy">
        <option value="" disabled selected>Sorteer op:</option>
        <option value="lowFirst">Laag naar Hoog</option>
        <option value="HighFirst">Hoog naar laag</option>
      </select>
      <select name="moveItems" id="moveItems">
        <option value="" disabled selected>Verplaatsing Toggle</option>
        <option value="on">AAN</option>
        <option value="off">UIT</option>
      </select>
      <select name="colorChanging" id="colorChanging">
        <option value="" disabled selected>Kleuren Veranderen</option>
        <option value="Kleuren1">Kleuren Set 1</option>
        <option value="Kleuren2">Kleuren Set 2</option>
      </select>
    </nav>
  </header>
  <script src="/refractored.js"></script>
</body>
</html>
